<h1>Editing book_page</h1>

<%= render 'form' %>

<%= link_to 'Show', [@book_series, @collection, @book, @book_page] %> |
<%= link_to 'Back', book_series_collection_book_book_pages_path(@book_series, @collection, @book) %>
