<h2>編輯您的讀經計劃</h2>

<%= render 'form' %>

<%= link_to '查看閲讀進度', [@user, @reading_plan], class: "btn btn-min btn-inverse" %> 
<%= link_to '囘到計劃列表', user_reading_plans_path(@user), class: "btn btn-min btn-primary" %>
