
<h2>成爲會員:</h2>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 3.jpg">
    </div>

    <div class="span10">
      <h3>
        我們的使命：
      </h3>
			<p>
				maxBibleReader以致力推動聖經閲讀，幫助信徒生命成長，促進聖徒相交，建造教會為使命。
				歡迎讀者提出各樣閲讀意見，指正錯誤，不吝賜教。
			</p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 3.jpg">
    </div>

    <div class="span10">
      <h3>
        會員獨享個人化功能：
      </h3>
			<p>
				maxBibleReader提供許多個人化的服務功能，鼓勵加入成爲會員。
			</p>
       <p><span class="badge badge-warning">1</span> 心得筆記：您可以隨時記下你的讀經心得，領受，和回應禱告。您也可以隨時回顧你的筆記。</p>
       <p><span class="badge badge-warning">2</span> 讀經記錄：您讀經時會不會反復翻閲幾処經文？牧師講道時是不是會同時讀幾処經文？maxBibleReader將您最近讀過的聖經經文記錄下來，使您可以隨時回顧，快速在這些經文中選讀。</p>
       <p><span class="badge badge-warning">3</span> 讀經進度追蹤：您是不是有讀經計劃如一年讀完聖經？maxBibleReader可以幫助您追蹤你的讀經進度。</p>
       <p><span class="badge badge-warning">4</span> 與人分享：好的領受要與人分享。你可以將你的領受和所有會員分享。當然，你也可以回應別人的分享。</p>
       <p><span class="badge badge-warning">5</span> 小組討論：你可以和你親愛的弟兄姐妹組成讀經小組，彼此分享。</p>
			  <%=link_to "成爲會員", new_user_registration_path, class: "btn btn-min btn-primary" %>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 2.jpg">
    </div>

    <div class="span10">
      <h3>
        會員級別：
      </h3>
			<p>
				根據你的需要，提供以下會員級別供您選擇：
			</p>
      <p><span class="badge badge-inverse">1</span> 基本會員：可以每年寫下你的筆記或發佈分享共100條。</p>
      <p><span class="badge badge-info">2</span> 庇哩亞會員：可以每年寫下你的筆記或發佈分享共1000條。</p>
      <p><span class="badge badge-warning">3</span> 非拉鉄非會員：享受無限制筆記或心得發佈。</p>
      <p>
				會員年費：
			</p>
      <p><span class="badge badge-inverse">1</span> 基本會員：人民幣10元，台幣100元，美金5元，歐元4元，英鎊4元。</p>
      <p><span class="badge badge-info">2</span> 庇哩亞會員：人民幣40元，台幣300元，美金15元，歐元12元，英鎊10元。</p>
      <p><span class="badge badge-warning">3</span> 非拉鉄非會員：超過1000位粉絲，免年費。</p>


    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 1.jpg">
    </div>

    <div class="span10">
      <h3>
        會員費用優惠方案：
      </h3>
			<p>
				為鼓勵讀者享受讀聖經的好處，以下特別提供優惠方案：
			</p>
      <p><span class="badge badge-success">1</span> 推廣期間，首次加入會員免費3個月。</p>
      <p><span class="badge badge-success">2</span> 每提出1個錯別字（同樣的以最先提出者），經確認，免費1個月。</p>
      <p><span class="badge badge-success">3</span> 提出寶貴意見經採納者，免一年基本會員會費。</p>
      <p><span class="badge badge-success">4</span> 推薦三位朋友成爲會員者，免一年基本會員會費。</p>
      <p><span class="badge badge-success">5</span> 一年内完成整本聖經主題讀經者，免次年庇哩亞會員會費。</p>
      <p><span class="badge badge-success">6</span> 當年有超過500位會友成爲你的粉絲，免次年庇哩亞會員費。</p>
    </div>

  </div>
</div>