
<h2>成爲會員:</h2>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 3.jpg">
    </div>

    <div class="span10">
      <h3>
        我們的使命：
      </h3>
			<p>
				maxBibleReader以致力推動聖經閲讀，幫助信徒生命成長，促進聖徒相交，建造教會為使命。
				歡迎讀者提出各樣閲讀意見，指正錯誤，不吝賜教。
			</p>
    </div>

  </div>
</div>

