
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <h1>聖經介紹</h1>
    </div>

    <div class="span9">
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="bible1.jpg">
    </div>

    <div class="span10">
      <h3>
        讀聖經的好處：
      </h3>
      <p>
        人有探索世界的天然本性，想要更好的掌握世界，過好日子。所以种莊稼的會看天氣，盼能風調雨順，無災無害，五穀豐收。為父母的按著人生經驗，盼能養出聰明健康，出人頭地的孩子。然而認識掌握我們所住的這個奇妙世界卻不是一件易事。許多民族沒有神的啓示，靠著經驗法則來揣摩世界。中國的藏民族，相信他們的保護從山神而來，所以他們世世代代住在山上。中國的漢民族以爲有不同的神明負責人的不同福祉，所以有財神管經濟，有土地公管地方，還有在眾神之上，管眾神的玉皇大帝。在今的近東民族，他們住在沙漠氣候的地方，需要雨水，所以他們拜巴力神，以爲他是掌管降雨的神。
      </p>
      <p>
        不相信神只相信科學的人，以爲人定勝天。然而事實上，不但奇妙複雜的宇宙我們難以明白，就是在我們每個人的内心世界，心中喜怒哀樂的情緒變化，我們都很難掌握和明白。許多父母與親手養大的孩子無法溝通，許多失戀的人想要自殺，許多面對困難挫折的人得憂鬱症。當金融海嘯發生的時候，許多呼風喚雨的公司也不支倒下。
      </p>
      <p>
        聖經是神啓示給我們人類的話，不但告訴我們行事爲人蒙福的法則，也告訴我們當把事情搞砸的時候如何挽救。聖經告訴我們要善待窮人和孤兒寡婦，也告訴我們不要濫墾濫補，誠實做生意，如此土地就會得到祝福。然而人的貪婪，用各樣自以爲聰明的方法滿足自己，結果害己害人，自欺欺人。今天許多農民爲了更好更多的收成，用各樣的農藥，抗生素，結果害蟲愈來愈有抗葯性，益蟲益鳥反被殺光。只好用更多的農藥來殺蟲，土地因此受到咒詛。許多農民不吃自己种的菜就以爲沒事，但除非他們和他們的兒女不吃其他任何食物。然而問題不是只有農業，今天工業發達，人爲了追求更大的利益，工作過度勞累，濫用地球資源。結果環境受到污染，全球開始暖化，地上天氣異常，旱災水災不斷。面對如此的惡性循環，人如何挽回命運？聖經給我們答案：承認自己的罪，回轉來到創造宇宙神的面前 ，遵行聖經的話，除去心中的貪慾，愛人如己，就能重新蒙福。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 3.jpg">
    </div>

    <div class="span10">
      <h3>
        聖經的組成：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己面對不安定的世代。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 1.jpg">
    </div>

    <div class="span10">
      <h3>
        聖經的作者：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己預備不安定的世代。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 2.jpg">
    </div>

    <div class="span10">
      <h3>
        聖經正典的形成：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己預備不安定的世代。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 3.jpg">
    </div>

    <div class="span10">
      <h3>
        聖經的原文：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己預備不安定的世代。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 4.jpg">
    </div>

    <div class="span10">
      <h3>
        認識聖經的不同譯本：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己預備不安定的世代。
      </p>
    </div>

  </div>
</div>



