
<h1>信仰告白:</h1>


<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/120x120" class="img-rounded" alt="120x120" style="width: 120px; height: 120px;" src="oath.jpg">
    </div>

    <div class="span10">
      <h3>
        maxBibleReader：
      </h3>
      <p>
        相信整本聖經的原文是神的默示。
      </p>
      <p>
        相信耶穌是上帝的獨生子，是三位一體的神，是舊約聖經所應許的彌賽亞，是基督，是全人類的救世主。
      </p>
      <p>
        相信耶穌基督為世人的罪死在十字架，成爲人的贖罪祭，三日后復活，又在四十日后升天。
      </p>
      <p>
      	相信凡接受耶穌基督為救主的，罪得赦免，不至滅亡，凡得永生。
      </p>
      <p>
      	相信耶穌要再來，所有信靠他的要與他在空中相遇，與他永遠同在。
      </p>
      <p>
      	相信有末日的審判。所有死的人，都要復活接受審判。有罪的要被丟入永恒的硫磺火中，承受永遠的刑罰。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

