
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span9">
      <h1>maxBibleReader閲讀指南：</h1>
    </div>

    <div class="span3">
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 1.jpg">
    </div>

    <div class="span10">
      <h3>
        認識主題式聖經閲讀法：
      </h3>
      <p>
        <ol>
          <li>主題式聖經閲讀不是斷章取義，隨意地將不同地方的經文組合起來的聖經閲讀。</li>
          <li>主題式聖經閲讀乃是以書卷為基礎，將經文組成有關聯性的段落。</li>
          <li>對於整本聖經，主題式聖經閲讀根據時間次序，分成12個主題的閲讀，將相關書卷整合在一起。例如出埃及記和利未記關於律法，禮儀，民事的部分整合起來，將舊約歷史書和先知書按照時間整合分段，將四卷福音書整合起來，將使徒行傳和部分保羅書信整合起來等。</li>
          <li>主題式聖經閲讀也可以小範圍來操作。例如，關於基督生平，可以將四福音書整合起來讀。關於末世的主題，可以以啓示錄為主軸，對照耶穌在四福音書關於末世的預言，和其他聖經有關經文一起來讀。</li>
        </ol>
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 5.jpg">
    </div>

    <div class="span10">
      <h3>
        中文和合本譯文修訂參考：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己預備不安定的世代。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 2.jpg">
    </div>

    <div class="span10">
      <h3>
        功能介紹：
      </h3>
      <p>
        聖經共66卷書，其中舊約聖經39卷書，新約聖經27卷書。
        舊約聖經39卷是指在耶穌以前完成的聖經正典，新約聖經27卷書是指在耶穌降世后完成的聖經正典。
        舊約本身的意思，是指神藉由摩西向以色列人所啓示的應許與誡命。由於人被罪所轄制，無法遵行神的誡命。所以神向許多在耶穌降世之前的以色列先知啓示，將有彌賽亞（就是救世主）的降臨，祂要拯救以色列人脫離因爲罪所受的許多折磨。新約的意思，就是神藉著祂的獨生兒子耶穌的降生，在舊約以外，給世人開了另一條出入。只要相信耶穌是彌賽亞（救世主），罪就能被赦免，得以與神恢復和好的關係。
      </p>
      <p>
        舊約的39卷可以分成：摩西律法（5卷），歷史書（12卷），詩歌與智慧書（5卷），大先知書（5卷），和小先知書（12卷）。讀舊約聖經可以對神的全能，智慧，大愛，信實，公義，和對以色列民族的歷史有深刻的認識。
      </p>
      <p>
        新約的27卷可以分成：福音書（4卷），教會歷史（1卷)，保羅書信（13卷），一般書信（8卷），和啓示錄（1卷）。讀新約聖經可以明白耶穌基督十字架的救恩，了解基督教信仰對近世人類歷史的影響，享受平安喜樂豐富的人生，和幫助自己預備不安定的世代。
      </p>
    </div>

  </div>
</div>

