  <div class="row-fluid">
    <div class="span12">
      <ul id="social2_tabs" class="nav nav-tabs yellow">
        <li class="active"><a href="#personals" data-toggle="tab">個人靈修</a></li>
        <li><a href="#sharings" data-toggle="tab">分享交流</a></li>
        <li><a href="#cells" data-toggle="tab">小組學習</a></li>
        <li><a href="#searches" data-toggle="tab">資料搜尋</a></li>
        <li><a href="#parteners" data-toggle="tab">共同參與</a></li>
      </ul>

      <div id="social2_tabs_content" class="tab-content">

        <div class="tab-pane fade in active" id="personals">
          <ul id="social_tabs2a" class="nav nav-pills">
            <li class="active"><a href="#personal_writings" data-toggle="tab">成立小組</a></li>
            <li><a href="#personal_sharings" data-toggle="tab">加入小組</a></li>

          </ul>
          <div id="social_tabs2a_content" class="tab-content">
            <div class="tab-pane fade in active" id="personal_writings">
              <p>!!! new writing on left, previous writings for read on right !!! </p>
            </div>
            <div class="tab-pane fade" id="personal_sharings">
              <p> ... 2... </p>
            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="sharings">
          <ul id="social_tabs2b" class="nav nav-pills">
            <li class="active"><a href="#sharing_writings" data-toggle="tab">發表分享</a></li>
            <li><a href="#sharing_exchanges" data-toggle="tab">分享互動</a></li>
            <li><a href="#sharing_searches" data-toggle="tab">搜尋分享</a></li>
            <li><a href="#sharing_follows" data-toggle="tab">設定關注</a></li>
            <li><a href="#sharing_intro" data-toggle="tab">分享説明</a></li>
          </ul>
          <div id="social_tabs2b_content" class="tab-content">
            <div class="tab-pane fade in active" id="sharing_writings">

                請先登錄，即可發表您的分享。

            </div>
            <div class="tab-pane fade" id="sharing_exchanges">      
              <p>3</p>
            </div>
            <div class="tab-pane fade" id="sharing_searches">
              <p>1</p>
            </div>
            <div class="tab-pane fade" id="sharing_follows">
              <p>2</p>
            </div>
            <div class="tab-pane fade" id="sharing_intro">
              <p>
                在此你可以閲讀你的個人筆記或公開撲文。使用説明如下
              </p>
              <ol>
                <li>
                  <p>
                    如要閲讀個人筆記，你需要先<%= link_to "成爲會員", "#" %>或<%= link_to "登錄", "#" %>。
                    但是要閲讀公開撲文，就不受此限。
                  </p>
                </li>
                <li>
                  <p>
                    所顯示的讀經心得和分享文章僅限於本章節的。如果你想閲讀所有筆記或分享，請按相關連接鍵。
                  </p>
                </li>
                <li>
                  <p>
                    可閲讀的公開分享文章有以下類別：一般分享，重點看見，經文註釋，思想問題，生活應用。
                  </p>
                </li>
                <li>
                  <p>
                    如果你從某篇撲文得到幫助，你可以按個讚給與發文者鼓勵，或寫下你的回應。maxBibleReader將根據按讚的數量，給發文者建立排行榜。讀者可以參考排行榜，選擇成爲你的關注著。
                  </p>
                </li>
                <li>
                  <p>
                    你可以從設定關注來選擇你特別想關注對象的分享。你也可以使用發文排行榜來安排閲讀次序。
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="cells">
          <ul id="social_tabs2d" class="nav nav-pills">
            <li class="active"><a href="#cells_new" data-toggle="tab">成立小組</a></li>
            <li><a href="#cells_add" data-toggle="tab">加入小組</a></li>
            <li><a href="#cells_chat" data-toggle="tab">小組互動</a></li>
            <li><a href="#cells_intro" data-toggle="tab">小組功能</a></li>
          </ul>
          <div id="social_tabs2d_content" class="tab-content">
            <div class="tab-pane fade in active" id="cells_new">
              1
            </div>
            <div class="tab-pane fade" id="cells_add">
              2
            </div>
            <div class="tab-pane fade" id="cells_chat">
              3
            </div>
            <div class="tab-pane fade" id="cells_intro">
              4
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="searches">
          <ul id="social_tabs2c" class="nav nav-pills">
            <li class="active"><a href="#search_bible" data-toggle="tab">聖經經文</a></li>
            <li><a href="#search_commentary" data-toggle="tab">聖經註釋</a></li>
            <li><a href="#search_themes" data-toggle="tab">聖經主題</a></li>
          </ul>
          <div id="social_tabs2c_content" class="tab-content">
            <div class="tab-pane fade in active" id="search_bible">
              1
            </div>
            <div class="tab-pane fade" id="search_bible">
              2
            </div>
            <div class="tab-pane fade" id="search_themes">
              3
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="parteners">
          <ul id="social_tabs2f" class="nav nav-pills">
            <li class="active"><a href="#part_commentary" data-toggle="tab">註釋分享</a></li>
            <li><a href="#part_translations" data-toggle="tab">經文修正</a></li>
            <li><a href="#part_themes" data-toggle="tab">主題創作</a></li>
            <li><a href="#part_suggestions" data-toggle="tab">網站建議</a></li>
            <li><a href="#part_intro" data-toggle="tab">參與説明</a></li>
          </ul>
          <div id="social_tabs2f_content" class="tab-content">
            <div class="tab-pane fade in active" id="part_commentary">
              1
            </div>
            <div class="tab-pane fade" id="part_translations">
              2
            </div>
            <div class="tab-pane fade" id="part_themes">
              3
            </div>
            <div class="tab-pane fade" id="part_suggestions">
              4
            </div>
            <div class="tab-pane fade" id="part_intro">
              5
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>