
<ul id="collection_tabs" class="nav nav-pills">
  <% ii = 1 %>
  <% @book_series_1.collections.each do |collection| %>
    <% link_1 = "#collect_" + ii.to_s %>
    <% if ii==1 %>
      <li class="active"><%= link_to collection.title, link_1, :data => {:toggle=>"tab"} %></li>
    <% else %>
      <li><%= link_to collection.title, link_1, :data => {:toggle=>"tab"} %></li>
    <% end %>
    <% ii = ii+1 %>
  <% end %>
</ul>

<div id="collection_list" class="tab-content"> <!-- level 1 tab content -->
  <% ii = 1 %>
  <% @book_series_1.collections.each do |collection| %> <!-- level 1 iteration -->
    <% if ii==1 %>
      <% dd = "<div class=\"tab-pane fade in active\" id=" + "\"collect_" + ii.to_s + "\">" %>
    <% else %>
      <% dd = "<div class=\"tab-pane fade\" id=" + "\"collect_" + ii.to_s + "\">" %>
    <% end %>
    <%= dd.html_safe %>
    <% ii += 1 %>
    <% collection.books.each do |book| %>
      <% chap = book.chapters.order("chapter_no").first %>
      <%= link_to book.title, book_series_collection_book_chapter_url(@book_series_1, collection, book, chap), 
        class: "btn btn-min btn-info" %>
    <% end %> <!-- books -->
    </div>
  <% end %>
  
</div>