<h1>New chapter for Book <%= @book.title %>, Collection <%= @collection.title %></h1>

<%= render 'form' %>

<%= link_to 'Back', book_series_collection_book_chapters_path(@book_series, @collection, @book) %>
