$navbarBackgroundHighlight: white;
$navbarBackground: white;
/* $btnPrimaryBackground: green; */


@import 'bootstrap';

body {
	margin-top: 70px;
	margin-bottom: 200px;
}


.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	background-color: #AACCFF;
}

@import 'bootstrap-responsive';



