$navbarBackgroundHighlight: white;
$navbarBackground: white;


@import 'bootstrap';

body {
	margin-top: 70px;
	margin-bottom: 200px;
}


.footer {
	background-color: #AACCFF;
}

@import 'bootstrap-responsive';
