<div class="footer">
	<p><small>Copyright 2013 @ maxBibleReader Inc. </small></p>
	<p><small>除中文和合本内容，maxBibleReader 保有所有文字内容版權。未經許可不得任意拷貝，轉載，發表等侵犯權利行爲。聯係郵箱地址: theme.reading@gmail.com</small></p>
	
</div>